*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(#87CEEB,beige);
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo{
    color:darkcyan;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    color: darkcyan;
    padding: 5px 10px;
    border-radius: 20px;
}

header ul li a:hover, header ul li a.active{
    color: white;
    background-color: darkcyan;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, #82d075, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec{
    position: relative;
    padding: 100px 20%;
    background-color: #82d075;
    text-align: justify;
}

.sec h2{
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.sec h3{
    font-size: 2em;
    margin-bottom: 20px;
}
.sec p{
    font-size: 1.2em;
    line-height: 1.6;
}
#sun{
    z-index: -3;
}
#dog{
    z-index: -2;
}
#girl{
    z-index: -1;
}